.user_img{
    height: 20px;
    align-items: center;
    justify-content: center;
   
}


.perfil{
    background-color: black;
    color: white;
    justify-content:auto;
    text-align: center;
    width: 210px;
    height: 340px;
    
}

.user{
    height: 100px;
    align-items: center;
    justify-content: center;
    
}
